.backgr {
  background-image: url(../images/background.svg);
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  background-size: cover;
  background-repeat: repeat;
}

.backgr1 {
  width: 40%;
  height: 100%;
}

.backgr2 {
  width: 50%;
  height: 100%;
}

.glow_circle {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: #020715;
  border: 10px solid rgb(106, 62, 157);
  z-index: 2;
  position: relative;
  top: 130px;
  left: -70px;
}

.glow_circle_effect {
  width: 700px;
  height: 790.93px;
  top: 140px;
  left: -60px;
  background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0) 100%);
  z-index: 1;
  position: absolute;
}

.anchor {
  background-image: url(../images/anchor_img.png);
  width: 600px;
  height: 570px;
  top: 250px;
  position: absolute;
  background-size: cover;
  z-index: 3;
}

.anchor_text {
  width: 245px;
  height: 20px;
  top: 108.96px;
  left: 470.22px;
  font-family: Poppins;
  font-size: 19px;
  font-weight: 400;
  line-height: 97px;
  letter-spacing: -0.5px;
  text-align: center;
  color: white;
  position: absolute;
}

.anchor_text span {
  color: #7942A5;
}

.anchor_info1 {
  width: 938px;
  height: 96px;
  top: 141px;
  font-family: Poppins;
  font-size: 96px;
  font-weight: 700;
  line-height: 96px;
  letter-spacing: -0.015em;
  text-align: center;
  position: relative;
  color: white;
}

.anchor_info1 span {
  background: linear-gradient(90deg, #4050F2 0%, #BF2FD7 99.99%, #D322D0 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.anchor_info2 {
  width: 817px;
  height: 41px;
  top: 181px;
  left: 60px;
  font-family: Poppins;
  font-size: 26.69px;
  font-weight: 700;
  line-height: 40.03px;
  text-align: center;
  color: #6C84D7;
  position: relative;
}

.rnp_info {
  width: 709px;
  height: 164px;
  top: 231px;
  left: 110px;
  font-family: Poppins;
  font-size: 21.85px;
  font-weight: 400;
  line-height: 32.77px;
  text-align: center;
  color: #D4D4D4;
  position: relative;
}

.arrow {
  width: 91.78px;
  height: 81.86px;
  top: 150px;
  left: 392.37px;
  padding: 0px;
  gap: 0px;
  opacity: 0px;
  rotate: 171.07 deg;
  background-image: url(../images/Arrow.png);
  position: absolute;
}

@media screen and (max-width:425px) {



  .glow_circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #020715;
    border: 10px solid rgb(106, 62, 157);
    z-index: 2;
    position: relative;
    top: 80px;
    left: -35px;
  }

  .glow_circle_effect {
    width: 300px;
    height: 270.93px;
    top: 110px;
    left: -60px;
    background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0) 100%);
    z-index: 1;
    position: absolute;
  }

  .anchor {
    background-image: url(../images/anchor_img.png);
    width: 200px;
    height: 170px;
    top: 190px;
    position: absolute;
    background-size: cover;
    z-index: 3;
  }

  .anchor_text {
    width: max-content;
    height: max-content;
    top: 140.96px;
    left: 210.22px;
    font-size: 0.7em;
  }

  .arrow {
    width: 21.78px;
    height: 41.86px;
    top: 190px;
    left: 182.37px;
    padding: 0px;
    gap: 0px;
    opacity: 0px;
    rotate: 171.07 deg;
    background-image: url(../images/Arrow.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .anchor_info1,
  .anchor_info2,
  .rnp_info {
    font-size: 1em;
    width: inherit;
  }

  .backgr {
    display: block;
    height: 70%;
  }

  .backgr1 {
    width: 100%;
    height: 50%;
  }

  .backgr2 {
    width: 100%;
    height: 50%;
  }

  .anchor_info1 {
    top: 50px;
    left: 0%;
    height: auto;
    line-height: 0px;
  }
  
  .anchor_info2 {
    top: 70px;
    left: 0%;
    height: auto;
    line-height: 19px;
    width: inherit;
  }
  
  .rnp_info {
    top: 90px;
    left: 0%;
    width: inherit;
    height: auto;
    line-height: 19px;
    font-size: 0.9em;
  }
}