.backgr {
  background-image: url(../images/background_img.png);
  width: 105rem;
  height: 600px;
  background-color: black;
}

/* @media screen and (min-width: 321px) and (max-width:379px){
    .backgr {
      width: 92rem;
    }
  }

  @media screen and (min-width: 380px) and (max-width: 418px) {
    .backgr {
      width: 85rem;
    }
  }

  @media screen and (min-width: 1711px) and (max-width:2559px){
    .backgr {
      width: 125rem;
    }
  }

  @media screen and (min-width: 2560px){
    .backgr {
      width: 160rem;
    }
  } */

.anchor {
  background-image: url(../images/anchor_img.png);
  width: 530px;
  height: 460px;
  top: 137px;
  left: -50px;
  position: relative;
  background-size: cover;
}

.anchor_text {
  width: 245px;
  height: 20px;
  top: 114.96px;
  left: 270.22px;
  font-family: Preahvihear;
  font-size: 19px;
  font-weight: 400;
  line-height: 97px;
  letter-spacing: -0.5px;
  text-align: center;
  font-family: Preahvihear;
  color: white;
  position: absolute;
}

.anchor_text span {
  color: #7942A5;
}

.anchor_info1 {
  width: 714px;
  height: 75px;
  top: 240px;
  left: 555px;
  font-family: Urbanist;
  font-size: 74.74px;
  font-weight: 600;
  line-height: 74.74px;
  letter-spacing: -0.015em;
  text-align: center;
  color: white;
  position: absolute;
}

.anchor_info1 span {
  background: linear-gradient(90deg, #4050F2 0%, #BF2FD7 99.99%, #D322D0 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.anchor_info2 {
  width: 751px;
  height: 41px;
  top: 325px;
  left: 536px;
  font-family: Manrope;
  font-size: 26.69px;
  font-weight: 600;
  line-height: 40.03px;
  text-align: center;
  color: #6C84D7;
  position: absolute;
}

.rnp_info {
  width: 641px;
  height: 163.85px;
  top: 400px;
  left: 599px;
  font-family: Manrope;
  font-size: 21.85px;
  font-weight: 500;
  line-height: 32.77px;
  text-align: center;
  color: #D4D4D4;
  position: absolute;
}

.arrow {
  height: 100px;
  width: 10px;
  left: 195px;
  top: 140px;
  position: absolute;
  color: white;
  font-size: 70px;
  rotate: -50deg;
}

@media screen and (max-width: 320px) {
  .backgr {
    width: 100%;
    height: 780px;
  }

  .arrow {
    height: 5px;
    width: 5px;
    left: 110px;
    top: 270px;
    rotate: -20deg;
    font-size: 30px;
  }

  .anchor_text {
    width: 245px;
    height: 20px;
    top: 255px;
    left: 100px;
    font-size: medium;
  }

  .anchor {
    width: 200px;
    height: 250px;
    top: 260px;
    left: -20px;
    position: absolute;
  }

  .anchor_info1 {
    top: 115px;
    left: 85px;
    font-size: large;
    width: 160px;
    height: 35px;
    line-height: 30px;
    text-align: left;
    letter-spacing: -0.015em;
  }

  .anchor_info2 {
    width: 200px;
    height: 100px;
    top: 155px;
    left: 58px;
    font-size: large;
    line-height: 30px;
  }

  .rnp_info {
    width: 255px;
    height: auto;
    top: 550px;
    left: 35px;
    font-size: large;
    line-height: 30px;
    text-align: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px){
  .backgr {
    width: 100%;
    height: 780px;
  }

  .arrow {
    height: 5px;
    width: 5px;
    left: 110px;
    top: 270px;
    rotate: -20deg;
    font-size: 30px;
  }

  .anchor_text {
    width: 245px;
    height: 20px;
    top: 255px;
    left: 100px;
    font-size: medium;
  }

  .anchor {
    width: 200px;
    height: 250px;
    top: 260px;
    left: -20px;
    position: absolute;
  }

  .anchor_info1 {
    top: 115px;
    left: 85px;
    font-size: large;
    width: 160px;
    height: 35px;
    line-height: 30px;
    text-align: left;
    letter-spacing: -0.015em;
  }

  .anchor_info2 {
    width: 200px;
    height: 100px;
    top: 155px;
    left: 58px;
    font-size: large;
    line-height: 30px;
  }

  .rnp_info {
    width: 255px;
    height: auto;
    top: 550px;
    left: 35px;
    font-size: large;
    line-height: 30px;
    text-align: center;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px){
  .backgr {
    width: 100%;
    height: 780px;
  }

  .arrow {
    height: 5px;
    width: 5px;
    left: 110px;
    top: 270px;
    rotate: -20deg;
    font-size: 30px;
  }

  .anchor_text {
    width: 245px;
    height: 20px;
    top: 255px;
    left: 100px;
    font-size: medium;
  }

  .anchor {
    width: 200px;
    height: 250px;
    top: 260px;
    left: -20px;
    position: absolute;
  }

  .anchor_info1 {
    top: 115px;
    left: 85px;
    font-size: large;
    width: 160px;
    height: 35px;
    line-height: 30px;
    text-align: left;
    letter-spacing: -0.015em;
  }

  .anchor_info2 {
    width: 200px;
    height: 100px;
    top: 155px;
    left: 58px;
    font-size: large;
    line-height: 30px;
  }

  .rnp_info {
    width: 255px;
    height: auto;
    top: 550px;
    left: 35px;
    font-size: large;
    line-height: 30px;
    text-align: center;
  }
}