.backgr {
  background-image: url(../images/background.svg);
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  background-size: cover;
  background-repeat: repeat;
}

.backgr1 {
  width: 40%;
  height: 100%;
}

.backgr2 {
  width: 50%;
  height: 100%;
}

.glow_circle {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: #020715;
  border: 10px solid rgb(106, 62, 157);
  z-index: 2;
  position: relative;
  top: 130px;
  left: -70px;
}

.glow_circle_effect {
  width: 700px;
  height: 790.93px;
  top: 140px;
  left: -60px;
  background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0) 100%);
  z-index: 1;
  position: absolute;
}

.anchor {
  background-image: url(../images/anchor_img.png);
  width: 600px;
  height: 570px;
  top: 250px;
  position: absolute;
  background-size: cover;
  z-index: 3;
}

.anchor_text {
  width: 245px;
  height: 20px;
  top: 108.96px;
  left: 470.22px;
  font-family: Poppins;
  font-size: 19px;
  font-weight: 400;
  line-height: 97px;
  letter-spacing: -0.5px;
  text-align: center;
  color: white;
  position: absolute;
}

.anchor_text span {
  color: #7942A5;
}

.anchor_info1 {
  width: 938px;
  height: 96px;
  top: 141px;
  font-family: Poppins;
  font-size: 96px;
  font-weight: 700;
  line-height: 96px;
  letter-spacing: -0.015em;
  text-align: center;
  position: relative;
  color: white;
}

.anchor_info1 span {
  background: linear-gradient(90deg, #4050F2 0%, #BF2FD7 99.99%, #D322D0 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.anchor_info2 {
  width: 817px;
  height: 41px;
  top: 181px;
  left: 60px;
  font-family: Poppins;
  font-size: 26.69px;
  font-weight: 700;
  line-height: 40.03px;
  text-align: center;
  color: #6C84D7;
  position: relative;
}

.rnp_info {
  width: 709px;
  height: 164px;
  top: 231px;
  left: 110px;
  font-family: Poppins;
  font-size: 21.85px;
  font-weight: 400;
  line-height: 32.77px;
  text-align: center;
  color: #D4D4D4;
  position: relative;
}

.arrow {
  width: 91.78px;
  height: 81.86px;
  top: 150px;
  left: 392.37px;
  padding: 0px;
  gap: 0px;
  opacity: 0px;
  rotate: 171.07 deg;
  background-image: url(../images/Arrow.png);
  position: absolute;
}

@media screen and (max-width:767px) {

  .glow_circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 80px;
    left: -35px;
  }

  .glow_circle_effect {
    width: 300px;
    height: 270.93px;
    top: 110px;
    left: -60px;
  }

  .anchor {
    background-image: url(../images/anchor_img.png);
    width: 200px;
    height: 170px;
    top: 190px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .anchor_text {
    width: max-content;
    height: max-content;
    top: 73.96px;
    left: 190.22px;
    font-size: 0.7em;
  }

  .arrow {
    width: 26.78px;
    height: 46.86px;
    top: 120px;
    left: 162.37px;
    rotate: 171.07 deg;
    background-image: url(../images/Arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .anchor_info1,
  .anchor_info2,
  .rnp_info {
    font-size: 1em;
    width: inherit;
  }

  .backgr {
    display: block;
    height: 70%;
  }

  .backgr1 {
    width: 100%;
    height: 50%;
  }

  .backgr2 {
    width: 100%;
    height: 50%;
  }

  .anchor_info1 {
    top: 50px;
    left: 0%;
    height: auto;
    line-height: 0px;
  }
  
  .anchor_info2 {
    top: 70px;
    left: 0%;
    height: auto;
    line-height: 19px;
    width: inherit;
  }
  
  .rnp_info {
    top: 90px;
    left: 0%;
    width: inherit;
    height: auto;
    line-height: 19px;
    font-size: 0.9em;
  }
}

@media screen and (min-width:768px) and (max-width:1023px){
  .glow_circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    top: 170px;
    left: -40px;
  }

  .glow_circle_effect {
    width: 380px;
    height: 350.93px;
    top: 190px;
    left: -50px;
  }

  .anchor {
    background-image: url(../images/anchor_img.png);
    width: 290px;
    height: 270px;
    top: 280px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .anchor_text {
    width: max-content;
    height: max-content;
    top: 133.96px;
    left: 225.22px;
    font-size: 0.9em;
  }

  .arrow {
    width: 35.78px;
    height: 55.86px;
    top: 180px;
    left: 188.37px;
    rotate: 171.07 deg;
    background-image: url(../images/Arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .anchor_info1,
  .anchor_info2,
  .rnp_info {
    font-size: 1.2em;
    width: inherit;
  }

  .backgr {
    height: 70%;
  }

  .backgr1 {
    width: 100%;
    height: 50%;
  }

  .backgr2 {
    width: 100%;
    height: 50%;
  }

  .anchor_info1 {
    top: 180px;
    left: -8%;
    height: auto;
    line-height: 0px;
    font-size: 2.5rem;
  }
  
  .anchor_info2 {
    top: 220px;
    left: -8%;
    height: auto;
    line-height: 19px;
    width: inherit;
    font-size: 1rem;
  }
  
  .rnp_info {
    top: 235px;
    left: -8%;
    width: inherit;
    height: auto;
    line-height: 19px;
    font-size: 0.7em;
  }
}

@media screen and (min-width:1024px) and (max-width:1439px){

  .glow_circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    top: 160px;
    left: -45px;
  }

  .glow_circle_effect {
    width: 520px;
    height: 510.93px;
    top: 160px;
    left: -60px;
  }

  .anchor {
    background-image: url(../images/anchor_img.png);
    width: 400px;
    height: 370px;
    top: 290px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .anchor_text {
    width: max-content;
    height: max-content;
    top: 80.96px;
    left: 260.22px;
    font-size: 1em;
  }

  .arrow {
    width: 80.78px;
    height: 80.86px;
    top: 130px;
    left: 182.37px;
    rotate: 171.07 deg;
    background-image: url(../images/Arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .anchor_info1,
  .anchor_info2,
  .rnp_info {
    font-size: 1.5em;
    width: inherit;
  }

  .backgr {
    height: 80%;
  }

  .backgr1 {
    width: 80%;
    height: 100%;
  }

  .backgr2 {
    width: 100%;
    height: 100%;
  }

  .anchor_info1 {
    top: 150px;
    left: -5%;
    height: auto;
    line-height: 0px;
    font-size: 3.5em;
  }
  
  .anchor_info2 {
    top: 210px;
    left: -5%;
    height: auto;
    line-height: 29px;
    font-size: 1.5em;
    width: inherit;
  }
  
  .rnp_info {
    top: 240px;
    left: 5%;
    width: 80%;
    height: auto;
    line-height: 23px;
    font-size: 1.2em;
  }
}

@media screen and (min-width:1440px) and (max-width:1709px){
  .anchor_info1{
    width: 780px;
    font-size: 5rem;
    left: 9%;
  }
  .anchor_info2{
    left: 6%;
  }
  .rnp_info{
    left: 14%;
  }
  .glow_circle_effect {
    top: 90px;
  }
}
