.navbar {
    height: 5rem;
    background-color: #020715;
    display: flex;
    width: 105rem;
    gap: 60rem;
}

@media screen and (max-width: 380px) {
    .navbar {
      gap: 40rem;/* Adjusted gap for smaller screens */
      width: 92rem;
    }
  }

  @media screen and (min-width: 380px) and (max-width: 418px) {
    .navbar {
      gap: 40rem;/* Adjusted gap for smaller screens */
      width: 85rem;
    }
  }

  @media screen and (min-width: 1711px){
    .navbar {
      gap: 80rem;/* Adjusted gap for smaller screens */
      width: 125rem;
    }
  }
.rnp_logo {
    background-image: url(../images/RNPLOGO.svg.png);
    width: 120px;
    height: 27.28px;
    top: 26.44px;
    left: 24px;
    position: relative;
}

.contact_info {
    width: 700px;
    display: flex;
    gap: 30px;
}

.contact_info_content {
    display: flex;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
    height: 24px;
    top: 27.44px;
    position: relative;
    background-color: transparent;
}

.contact_info_button {
    background: linear-gradient(94.33deg, #4050F2 0%, #451DB8 100%);
    width: 137.88px;
    height: 50.8px;
    top: 14.44px;
    border-radius: 63px;
    position: relative;
    border: 0px solid transparent;
    color: #FFFFFF;
}
