body{
    /* background-color: black; */
    background-image: url(./images/background_img3.png);  
}

.section{  
  height: 100vh; 
  padding-top: 30px;
}

.section_3{
  height: 100vh; 
  padding-top: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -200px;
  background-image: url(./images/background_img3.png);  
}
.section_4{  
  height: 100vh; 
  padding-top: 100px;
  background-size: cover;
  background-position: 0px;
  background-repeat: no-repeat;
  background-image: url(./images/background_img3.png);  
  
  
 
}